<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="web/index::cmsHeader">
</head>
<style>
    .fly-footer{
        position: fixed;
        bottom: 0;
        left: 0;
    }
</style>
<body>

<div class="fly-header layui-bg-black" th:replace="web/index:: top">

</div>

<div class="layui-container">
  <div class="fly-panel fly-panel-user" pad20>
    <div class="layui-tab layui-tab-brief" lay-filter="user">
      <ul class="layui-tab-title login-title-center">
        <li class="layui-this" style="margin-right: 40px;">登陆</li>
        <li><a th:href="@{/web/user/reg.html}">注册</a></li>
      </ul>
      <div class="layui-form layui-tab-content" id="LAY_ucm" style="padding: 20px 0;">
        <div class="layui-tab-item layui-show">
          <div class="layui-form layui-form-pane flex-center">
              <div class="layui-form-item" style="margin-top: 120px;">
                <label for="L_loginName" class="layui-form-label">手机号</label>
                <div class="layui-input-inline">
                  <input type="text" id="L_loginName" name="loginName" required lay-verify="required" autocomplete="off" class="layui-input">
                </div>
              </div>
              <div class="layui-form-item" style="margin-top: 36px;">
                <label for="L_pass" class="layui-form-label">密码</label>
                <div class="layui-input-inline">
                  <input type="password" id="L_pass" name="password" required lay-verify="required" autocomplete="off" class="layui-input">
                </div>
              </div>
              <div class="layui-form-item" style="margin-top: 100px;margin-bottom: 100px;">
                <button id="btnSubmit" name="btnSubmit" class="layui-btn login-btn"  style="width: 300px;" lay-filter="*" onclick="login()" >立即登录</button>
                <!--<span style="padding-left:20px;">-->
                  <!--<a href="forget.html">忘记密码？</a>-->
                <!--</span>-->
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="fly-footer" th:replace="web/index::cmsBottom">
</div>
<script>

    document.onkeydown = function (e) { // 回车提交表单
        // 兼容FF和IE和Opera
        var theEvent = window.event || e;
        var code = theEvent.keyCode || theEvent.which || theEvent.charCode;
        if (code == 13) {
            login();
        }
    }

    var layer;
    $(function () {
        layui.use('layer', function () {
            layer = layui.layer;
        });

    })

    function login() {
        var loginName = $.common.trim($("input[name='loginName']").val());
        var password = $.common.trim($("input[name='password']").val());
        $.ajax({
            type: "post",
            url: ctx + "login",
            data: {
                "username": loginName,
                "password": password,
                "type": 10,
                "rememberMe":false,
                "isAdmin":false
            },
            success: function(r) {

                if (r.code == 200) {
                    layer.msg(r.msg, {icon: 1});
                    location.href = ctx + "web/index"
                } else {
                    layer.msg(r.msg, {icon: 2});
                }
            }
        });
    }
</script>

</body>
</html>