<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="web/index::cmsHeader">
</head>
<body>

<div class="fly-header layui-bg-black" th:replace="web/index::top">
</div>

<div class="layui-container fly-marginTop fly-user-main">
  <ul class="layui-nav layui-nav-tree layui-inline" style="background: #fff;" lay-filter="user" th:fragment="userinfo">
    <style>
      .layui-nav .layui-nav-item a{
        color: #303131;
      }
      .layui-nav-tree .layui-this>a,.layui-this>a:hover{
        background-color: #fff !important;
        border: none !important;
        color:#2EAF71 !important;
        font-weight: 600;
        font-size: 16px;
      }
      .layui-nav-tree .layui-this>a>i{
        font-weight: normal;
      }
      .layui-nav-tree .layui-nav-item a:hover{
        background: #fff;
        color:#2EAF71;
      }
    </style>
    <li class="layui-nav-item" id="set">
      <a th:href="@{/web/user/set.html}">
        <i class="layui-icon">&#xe620;</i>
        基本设置
      </a>
    </li>
    <!--<li class="layui-nav-item" id="message">-->
    <!--<a href="message.html">-->
    <!--<i class="layui-icon">&#xe611;</i>-->
    <!--我的消息-->
    <!--</a>-->
    <!--</li>-->
    <li class="layui-nav-item" id="errorquestion">
      <a th:href="@{/web/user/errorquestion.html}">
        <i class="layui-icon">&#xe63c;</i>
        我的错题本
      </a>
    </li>
    <li class="layui-nav-item" id="collectquestion">
      <a th:href="@{/web/user/collectquestion.html}">
        <i class="layui-icon">&#xe600;</i>
        我的收藏
      </a>
    </li>
    <li class="layui-nav-item" id="userexamination">
      <a th:href="@{/web/user/userexamination.html}">
        <i class="layui-icon">&#xe60a;</i>
        考试记录
      </a>
    </li>
<!--    <li class="layui-nav-item" id="orders">-->
<!--      <a th:href="@{/web/user/orders.html}">-->
<!--        <i class="layui-icon">&#xe600;</i>-->
<!--        支付记录-->
<!--      </a>-->
<!--    </li>-->
<!--    <li class="layui-nav-item" id="usercertificate">-->
<!--      <a th:href="@{/web/user/usercertificate.html}">-->
<!--        <i class="layui-icon">&#xe600;</i>-->
<!--        我的证书-->
<!--      </a>-->
<!--    </li>-->
  </ul>

  <div class="site-tree-mobile layui-hide">
    <i class="layui-icon">&#xe602;</i>
  </div>
  <div class="site-mobile-shade"></div>

  <div class="site-tree-mobile layui-hide">
    <i class="layui-icon">&#xe602;</i>
  </div>
  <div class="site-mobile-shade"></div>


  <div class="fly-panel fly-panel-user" pad20 style="height: calc(100% - 32px);overflow-y: auto;">
    <div class="layui-tab layui-tab-brief" lay-filter="user">
      <ul class="layui-tab-title" id="LAY_mine">
        <li class="layui-this" lay-id="info">我的资料</li>
<!--        <li lay-id="avatar">头像</li>-->
        <li lay-id="pass">密码</li>
      </ul>
      <div class="layui-tab-content" style="padding: 20px 0;">
        <div class="layui-form layui-form-pane layui-tab-item layui-show">
          <form method="post">
            <div class="layui-form-item">
              <label for="loginName" class="layui-form-label">账户</label>
              <div class="layui-input-inline">
                <input type="text" id="loginName" name="loginName" th:value="${user.loginName}" disabled required lay-verify="required" autocomplete="off" value="" class="layui-input">
              </div>
<!--              <div class="layui-form-mid layui-word-aux hide">如果您在邮箱已激活的情况下，变更了邮箱，需<a href="activate.html" style="font-size: 12px; color: #4f99cf;">重新验证邮箱</a>。</div>-->
            </div>
            <div class="layui-form-item">
              <label for="userName" class="layui-form-label">姓名</label>
              <div class="layui-input-inline">
                <input type="text" id="userName" name="userName" th:value="${user.userName}" required lay-verify="required" autocomplete="off" value="" class="layui-input">
              </div>
            </div>

            <div class="layui-form-item">
              <label for="deptName" class="layui-form-label">部门名称</label>
              <div class="layui-input-inline">
                <input class="layui-input" type="text" name="deptName" th:value="${user.dept == null ? '陕西伟业医药有限公司' : user.dept.deptName}" readonly="true">
              </div>
            </div>
            <div class="layui-form-item">
              <label for="phonenumber" class="layui-form-label" disabled="">手机号</label>
              <div class="layui-input-inline">
                <input type="text" id="phonenumber" name="phonenumber" disabled  th:value="${user.phonenumber}" autocomplete="off" value="" class="layui-input">
              </div>
            </div>
<!--            <div class="layui-form-item layui-form-text">-->
<!--              <label for="remark" class="layui-form-label">签名</label>-->
<!--              <div class="layui-input-block">-->
<!--                <textarea placeholder="随便写些什么刷下存在感" id="remark"  th:text="${user.remark}"   name="sign" autocomplete="off" class="layui-textarea" style="height: 80px;"></textarea>-->
<!--              </div>-->
<!--            </div>-->
            <div class="layui-form-item">
              <button  type="button" class="layui-btn" key="set-mine" lay-filter="*" onclick="updateUserInfo()">确认修改</button>
            </div>
          </form>
        </div>

<!--        <div class="layui-form layui-form-pane layui-tab-item">-->
<!--          <div class="layui-form-item">-->
<!--            <div class="avatar-add">-->
<!--              <p>建议尺寸168*168，支持jpg、png、gif，最大不能超过50KB</p>-->
<!--              <button type="button" class="layui-btn upload-img" id="upload">-->
<!--                <i class="layui-icon">&#xe67c;</i>上传头像-->
<!--              </button>-->
<!--              <img id="avatar" th:src="${user.avatar}">-->
<!--              <span class="loading"></span>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->

        <div class="layui-form layui-form-pane layui-tab-item">
          <div class="layui-form-item">
            <label for="oldPassword" class="layui-form-label">当前密码</label>
            <div class="layui-input-inline">
              <input type="password" id="oldPassword" name="oldPassword" onblur="checkPassword()" required lay-verify="required" autocomplete="off" class="layui-input">
            </div>
          </div>
          <div class="layui-form-item">
            <label for="password" class="layui-form-label">新密码</label>
            <div class="layui-input-inline">
              <input type="password" id="password" name="password" required lay-verify="required" autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">6到16个字符</div>
          </div>
          <div class="layui-form-item">
            <label for="confirm" class="layui-form-label">确认密码</label>
            <div class="layui-input-inline">
              <input type="password" id="confirm" name="confirm" required lay-verify="required" onblur="checkTwoPassword() " autocomplete="off" class="layui-input">
            </div>
          </div>
          <div class="layui-form-item">
            <button type="button" class="layui-btn" onclick="updateUserPassword()">确认修改</button>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
</div>

<!-- jquery-validate 表单验证插件 -->
<script th:src="@{/ajax/libs/validate/jquery.validate.min.js}"></script>
<script th:src="@{/ajax/libs/validate/messages_zh.min.js}"></script>
<script th:src="@{/ajax/libs/validate/jquery.validate.extend.js}"></script>

<div class="fly-footer" th:replace="web/index::cmsBottom">
</div>
<script>
    $(function(){
        $("#set").addClass("layui-this")
    })

    var userId="[[${user?.userId}]]";
    layui.use('upload', function() {
        var $ = layui.jquery
            , upload = layui.upload;
        //普通图片上传
        var uploadInst = upload.render({
            elem: '#upload'
            ,url: '/upload/oss'
            ,data:{module:"train/course"}//文件存放路径
            ,before: function(obj){
                //预读本地文件示例，不支持ie8
                // obj.preview(function(index, file, result){
                //     $('#avatar').attr('src', result); //图片链接（base64）
                // });
            }
            ,done: function(res){
                //如果上传失败
                if(res.code !=200){
                    return layer.msg('上传失败');
                }
                //上传成功
                if(res.code ==200){
                    $('#avatar').attr('src', res.data); //图片链接（base64）
                    var data={userId:userId,
                        avatar:res.data
                    }
                    updateUserAvatar(data);
                }
            }
            ,error: function(){
                //演示失败状态，并实现重传
                var demoText = $('#demoText');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function(){
                    uploadInst.upload();
                });
            }
        });
    });
    function updateUserAvatar(data) {
        $.ajax({
            cache : true,
            type : "POST",
            url : ctx + "web/user/update",
            data : data,
            async : false,
            error : function(request) {
                $.modal.alertError("系统错误");
            },
            success : function(data) {
                return layer.msg('修改成功');
            }
        });
    }
    function updateUserInfo() {
        var userName = $.common.trim($("input[name='userName']").val());

        if(userName == ""){
            layer.msg("用户名称不能为空", {icon: 2});
            return;
        }
        var data={
            userId:userId,
            loginName:$("#loginName").val(),
            phonenumber:$("#phonenumber").val(),
            // remark:$("#remark").val(),
            remark:'',
            userName:$("#userName").val()
        }
        updateUserAvatar(data);
    }
    var flag=false;
    function checkPassword() {
        var data={
            loginName:$.common.trim($("#loginName").val()),
            password:$.common.trim($("#oldPassword").val())
        }
        $.ajax({
            cache : true,
            type : "get",
            url : ctx + "system/user/profile/checkPassword",
            data : data,
            dataType:"json",
            async : false,
            error : function(request) {
                $.modal.alertError("系统错误");
            },
            success : function(res) {
                if(!res){
                    return layer.msg('旧密码与当前密码不一致');
                }else{
                    flag=true;
                }
            }
        });
    }
    function checkTwoPassword() {
        var password = $.common.trim($("#password").val());
        var confirm = $.common.trim($("#confirm").val());
        if(password == '' || confirm == ''){
            layer.msg('密码不能为空');
            return false;
        }
        if(password!==confirm){
            layer.msg('两次密码不一致');
            return false;
        }
    }
    function updateUserPassword() {
        var password=$.common.trim($("#password").val());
        var confirm=$.common.trim($("#confirm").val());
        if(password == '' || confirm == ''){
            layer.msg('密码不能为空');
            return false;
        }
        if(password!==confirm||!flag){
            layer.msg('两次密码不一致');
            return false;
        }
        var data={
            userId:userId,
            loginName:$("#loginName").val(),
            password:$("#password").val()
        }
        $.ajax({
            type : "POST",
            url : ctx + "web/user/resetPwd",
            data : data,
            error : function(request) {
                $.modal.alertError("系统错误");
            },
            success : function(data) {
              layer.msg('修改成功');
              window.location.href = "/web/user/login.html"
            }
        });
    }

</script>

</body>
</html>

