<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
    
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
						<ul>
							<li>
								点评内容：<input type="text" name="content"/>
							</li>

							<li>
								问题：<input type="text" name="examQuestionId"/>
							</li>

							<li>
								点赞数量：<input type="text" name="praiseCount"/>
							</li>

							<li>
								类型（0 学生点评 1 老师点评）：<input type="text" name="commentType"/>
							</li>

							<li>
								创建者：<input type="text" name="createBy"/>
							</li>

							<li>
								创建时间：<input type="text" name="createDate"/>
							</li>

							<li>
								更新者：<input type="text" name="updateBy"/>
							</li>

							<li>
								更新时间：<input type="text" name="updateDate"/>
							</li>

							<li>
								备注信息：<input type="text" name="remarks"/>
							</li>

							<li>
								删除标记：<input type="text" name="delFlag"/>
							</li>

							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
	        <div class="btn-group-sm hidden-xs" id="toolbar" role="group">
				<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="exam:examQuestionComment:add">
					<i class="fa fa-plus"></i> 添加
				</a>
				<a class="btn btn-primary btn-edit disabled" onclick="$.operate.edit()" shiro:hasPermission="exam:examQuestionComment:edit">
					<i class="fa fa-edit"></i> 修改
				</a>
				<a class="btn btn-danger btn-del btn-del disabled" onclick="$.operate.removeAll()" shiro:hasPermission="exam:examQuestionComment:remove">
					<i class="fa fa-remove"></i> 删除
				</a>
				<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="exam:examQuestionComment:export">
						<i class="fa fa-download"></i> 导出
				 </a>
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('exam:examQuestionComment:edit')}]];
        var removeFlag = [[${@permission.hasPermi('exam:examQuestionComment:remove')}]];
        var prefix = ctx + "exam/examQuestionComment";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
				exportUrl: prefix + "/export",
                modalName: "问题点评",
				search: false,
		        showExport: true,
                columns: [{
		            checkbox: true
		        },
				{
					field : 'id', 
					title : '',
					visible: false
				},
				{
					field : 'content', 
					title : '点评内容',
					//sortable: true
				},
				{
					field : 'examQuestionId', 
					title : '问题',
					//sortable: true
				},
				{
					field : 'praiseCount', 
					title : '点赞数量',
					//sortable: true
				},
				{
					field : 'commentType', 
					title : '类型（0 学生点评 1 老师点评）',
					//sortable: true
				},
				{
					field : 'createBy', 
					title : '创建者',
					//sortable: true
				},
				{
					field : 'createDate', 
					title : '创建时间',
					//sortable: true
				},
				{
					field : 'updateBy', 
					title : '更新者',
					//sortable: true
				},
				{
					field : 'updateDate', 
					title : '更新时间',
					//sortable: true
				},
				{
					field : 'remarks', 
					title : '备注信息',
					//sortable: true
				},
				{
					field : 'delFlag', 
					title : '删除标记',
					//sortable: true
				},
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
		            	actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
						return actions.join('');
		            }
		        }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>