<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="web/index::cmsHeader">
</head>
<body>
<div class="fly-header layui-bg-black" th:replace="web/index::top">
</div>
<script>
    $('.nav-li').removeClass('layui-this');
    $('.exam-li').addClass('layui-this');
</script>
<div class="layui-container">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="fly-panel">

                <div class="layui-tab">
                    <ul class="layui-tab-title">
                        <li class="layui-this">考试列表</li>
                        <li>报名列表</li>

                    </ul>
                    <div class="layui-tab-content">
                        <div class="layui-tab-item layui-show">
                            <table class="layui-hide" id="test" lay-filter="test"></table>
                        </div>
                        <div class="layui-tab-item"><table class="layui-hide" id="signupList" lay-filter="signupList"></table></div>

                    </div>
                </div>




                <script type="text/html" id="barDemo">
                    <a class="layui-btn layui-btn-xs" lay-event="start">开始考试
                    </a>
                </script>

                <script type="text/html" id="signup">
                    <a class="layui-btn layui-btn-xs" lay-event="signup">报名
                    </a>
                </script>

                <script type="text/html" id="type">
                    {{# if (d.type == "2"){ }}
                    正式考试
                    {{# }else { }}
                    模拟考试
                    {{# } }}
                </script>

            </div>

        </div>
    </div>
</div>

<div class="fly-footer" th:replace="web/index::cmsBottom">

</div>

<script src="/web/res/layui/layui.js"></script>
<script src="/js/jquery.min.js"></script>

<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cspan id='cnzz_stat_icon_30088308'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "w.cnzz.com/c.php%3Fid%3D30088308' type='text/javascript'%3E%3C/script%3E"));</script>

<script type="text/javascript">


    var layer;
    $(function () {
        layui.use('layer', function () {
            layer = layui.layer;
        });

        var errormsg = '[[${error}]]';
        if (errormsg) {
            layer.msg(errormsg, {icon: 2});
        }


    })

    layui.use('table', function () {
        var table = layui.table;

        table.render({
            elem: '#test'
            , url: '/web/examination/list'
            , title: '用户数据表'
            , cols: [ [
                {checkbox: true}
                , {field: 'name', title: '考试名称'}
                , {field: 'trainCourseName', title: '课程名称'}
                ,{field: 'type', title: '考试类型',templet: '#type'}
                , {field: 'timeLength', title: '考试时长'}
                , {field: 'passMark', title: '及格分数'}
                , {title: '操作', toolbar: '#barDemo'}
            ] ]
            , request: {
                pageName: 'pageNumber' //页码的参数名称，默认：page
                , limitName: 'pageSize' //每页数据量的参数名，默认：limit
            }
            , response: {
                statusCode: 200,
                countName: 'total'//规定成功的状态码，默认：0
            }
            , page: true
        });

        //头工具栏事件
        table.on('toolbar(test)', function (obj) {
            var checkStatus = table.checkStatus(obj.config.id);
            switch (obj.event) {
                case 'getCheckData':
                    var data = checkStatus.data;
                    layer.alert(JSON.stringify(data));
                    break;
                case 'getCheckLength':
                    var data = checkStatus.data;
                    layer.msg('选中了：' + data.length + ' 个');
                    break;
                case 'isAll':
                    layer.msg(checkStatus.isAll ? '全选' : '未全选');
                    break;
            }
            ;
        });

        //监听行工具事件
        table.on('tool(test)', function (obj) {
            var data = obj.data;
            //console.log(obj)
            if (obj.event === 'del') {
                layer.confirm('真的删除行么', function (index) {
                    obj.del();
                    layer.close(index);
                });
            } else if (obj.event === 'edit') {
                layer.prompt({
                    formType: 2
                    , value: data.email
                }, function (value, index) {
                    obj.update({
                        email: value
                    });
                    layer.close(index);
                });
            }
        });

        table.on('tool(test)', function (obj) { //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
            var data = obj.data //获得当前行数据
                , layEvent = obj.event; //获得 lay-event 对应的值
            if (layEvent === 'start') {
                window.location.href = "/web/examination/start/" + data.id;
            }
        })
    });



    layui.use('table', function () {
        var table = layui.table;

        table.render({
            elem: '#signupList'
            , url: '/web/examination/signuplist'
            , title: '用户数据表'
            , cols: [ [
                {checkbox: true}
                , {field: 'name', title: '考试名称'}
                , {field: 'trainCourseName', title: '课程名称'}
                ,{field: 'type', title: '考试类型',templet: '#type'}
                , {field: 'timeLength', title: '考试时长'}
                , {field: 'passMark', title: '及格分数'}
                , {title: '操作', toolbar: '#signup'}
            ] ]
            , request: {
                pageName: 'pageNumber' //页码的参数名称，默认：page
                , limitName: 'pageSize' //每页数据量的参数名，默认：limit
            }
            , response: {
                statusCode: 200,
                countName: 'total'//规定成功的状态码，默认：0
            }
            , page: true
        });

        table.on('tool(signupList)', function (obj) { //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
            var data = obj.data //获得当前行数据
                , layEvent = obj.event; //获得 lay-event 对应的值
            if (layEvent === 'signup') {
                $.ajax({
                    type: 'get',
                    url: "/web/examination/signup/"+data.id,
                    success: function (result) {
                        if (result.code != web_status.SUCCESS) {
                            layer.msg(result.msg, {icon: 2});
                        }else{
                            layer.msg(result.msg, {icon: 1});
                        }
                        table.reload('signupList')
                        table.reload('test')
                    }
                });
            }
        })
    });

</script>


</body>
</html>