<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.exam.mapper.ExamQuestionCommentMapper">
    
    <resultMap type="ExamQuestionComment" id="ExamQuestionCommentResult">
        <result property="id"    column="id"    />
        <result property="content"    column="content"    />
        <result property="examQuestionId"    column="exam_question_id"    />
        <result property="praiseCount"    column="praise_count"    />
        <result property="commentType"    column="comment_type"    />
        <result property="createBy"    column="create_by"    />
        <result property="createDate"    column="create_date"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateDate"    column="update_date"    />
        <result property="remarks"    column="remarks"    />
        <result property="delFlag"    column="del_flag"    />
    </resultMap>
	
	<sql id="selectExamQuestionCommentVo">
         id, content, exam_question_id, praise_count, comment_type, create_by, create_date, update_by, update_date, remarks, del_flag    </sql>
	
    <select id="selectExamQuestionCommentList" parameterType="ExamQuestionComment" resultMap="ExamQuestionCommentResult">
        select
        <include refid="selectExamQuestionCommentVo"/>
        from exam_question_comment
        <where>  
            <if test="id != null  and id != '' "> and id = #{id}</if>
             <if test="content != null "> and content = #{content}</if>
             <if test="examQuestionId != null  and examQuestionId != '' "> and exam_question_id = #{examQuestionId}</if>
             <if test="praiseCount != null "> and praise_count = #{praiseCount}</if>
             <if test="commentType != null  and commentType != '' "> and comment_type = #{commentType}</if>
             <if test="createBy != null  and createBy != '' "> and create_by = #{createBy}</if>
             <if test="createDate != null "> and create_date = #{createDate}</if>
             <if test="updateBy != null  and updateBy != '' "> and update_by = #{updateBy}</if>
             <if test="updateDate != null "> and update_date = #{updateDate}</if>
             <if test="remarks != null  and remarks != '' "> and remarks = #{remarks}</if>
             <if test="delFlag != null  and delFlag != '' "> and del_flag = #{delFlag}</if>
         </where>
    </select>

    
</mapper>