<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.train.course.mapper.TrainCourseSearchHistoryMapper">
    
    <resultMap type="com.ruoyi.train.course.domain.TrainCourseSearchHistory" id="TrainCourseSearchHistoryResult">
        <result property="id"    column="id"    />
        <result property="keyword"    column="keyword"    />
        <result property="userId"    column="user_id"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>
	
	<sql id="selectTrainCourseSearchHistoryVo">
         id, keyword, user_id, del_flag, create_time, update_time    </sql>

    <select id="selectTrainCourseSearchHistoryList" parameterType="com.ruoyi.train.course.domain.TrainCourseSearchHistory" resultMap="TrainCourseSearchHistoryResult">
        select
        <include refid="selectTrainCourseSearchHistoryVo"/>
        from train_course_search_history
        <where>  
            <if test="id != null "> and id = #{id}</if>
             <if test="keyword != null  and keyword != '' "> and keyword = #{keyword}</if>
             <if test="userId != null  and userId != '' "> and user_id = #{userId}</if>
             <if test="delFlag != null "> and del_flag = #{delFlag}</if>
             <if test="createTime != null "> and create_time = #{createTime}</if>
             <if test="updateTime != null "> and update_time = #{updateTime}</if>
         </where>
    </select>
    <select id="searchHistory" resultType="com.ruoyi.train.course.domain.TrainCourseSearchHistory">
        select
        <include refid="selectTrainCourseSearchHistoryVo"/>
        from train_course_search_history
        where
        user_id = #{userId}
        order by create_time desc
        limit 20
    </select>

</mapper>