<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.train.course.mapper.TrainCourseMapper">
    
    <resultMap type="TrainCourseVO" id="TrainCourseResultVO">
        <result property="id"    column="id"    />
        <result property="deptId"    column="dept_id"    />
        <result property="trainCourseCategoryId"    column="train_course_category_id"    />
        <result property="name"    column="name"    />
        <result property="price"    column="price"    />
        <result property="cover"    column="cover"    />
        <result property="description"    column="description"    />
        <result property="state"    column="state"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>
	
	<sql id="selectTrainCourseVo">
         train_course.id, train_course.dept_id, train_course.train_course_category_id, train_course.name,train_course.price,
          train_course.cover, train_course.description, train_course.state, train_course.del_flag, train_course.create_by,
          train_course.create_time, train_course.update_by, train_course.update_time, train_course.remark    </sql>
	
    <select id="selectTrainCourseList" parameterType="TrainCourseVO" resultMap="TrainCourseResultVO">
        select
        <include refid="selectTrainCourseVo"/>
        from train_course

        <if test="userId != null ">
            left join train_course_user tcu on tcu.train_course_id =train_course.id
        </if>
        <where>

            <if test="userId != null "> and tcu.vip_user_id = #{userId}</if>
            <if test="id != null "> and train_course.id = #{id}</if>
             <if test="deptId != null "> and train_course.dept_id = #{deptId}</if>
             <if test="trainCourseCategoryId != null ">
                 and (train_course.train_course_category_id in
                 (select id from train_course_category where FIND_IN_SET(#{trainCourseCategoryId},parent_ids))
                 or train_course.train_course_category_id = #{trainCourseCategoryId} )
             </if>
             <if test="name != null  and name != '' "> and train_course.name like CONCAT('%', #{name},'%')</if>
             <if test="cover != null  and cover != '' "> and train_course.cover = #{cover}</if>
             <if test="description != null  and description != '' "> and train_course.description = #{description}</if>
             <if test="state != null  and state != '' "> and train_course.state = #{state}</if>
             <if test="delFlag != null  and delFlag != '' "> and train_course.del_flag = #{delFlag}</if>
             <if test="createBy != null  and createBy != '' "> and train_course.create_by = #{createBy}</if>
             <if test="createTime != null "> and train_course.create_time = #{createTime}</if>
             <if test="updateBy != null  and updateBy != '' "> and train_course.update_by = #{updateBy}</if>
             <if test="updateTime != null "> and train_course.update_time = #{updateTime}</if>
             <if test="remark != null  and remark != '' "> and train_course.remark = #{remark}</if>
         </where>

        ORDER BY train_course.update_time desc
    </select>
    <select id="selectTrainCourseListForExcel" resultType="com.ruoyi.train.course.domain.TrainCourse">
        select
        <include refid="selectTrainCourseVo"/>
        from train_course
        <where>
            <if test="trainCourseCategoryId != null ">
                and (train_course.train_course_category_id in
                (select id from train_course_category where FIND_IN_SET(#{trainCourseCategoryId},parent_ids))
                or train_course.train_course_category_id = #{trainCourseCategoryId} )
            </if>
        </where>

    </select>


</mapper>