<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-examQuestion-add">
        <div class="form-group">
            <input type="hidden" id="id" name="id" th:value="${examQuestion.id}">
            <input type="hidden" id="categoryId" name="categoryId" th:value="${examQuestion.categoryId}">
            <input type="hidden" id="type" name="type" th:value="${examQuestion.type}">
            <input type="hidden" id="answer" name="questionAnswer" th:value="${examQuestion.answer}">
            <input type="hidden" id="item" name="item" th:value="${examQuestionItem}">
            <label class="col-sm-3 control-label">问题标题：</label>
            <div class="col-sm-8">
                <input id="title" name="title" class="form-control" type="text" th:value="${examQuestion.title}">
            </div>
        </div>

        <div class="form-group" >
            <label class="col-sm-3 control-label">问题选项：</label>
            <div class="col-sm-1" style="padding-right: 0px;">
                <input class="form-control" name="answer" value="A" type="radio" style="margin: 0 0 0;">
            </div>
            <div class="col-sm-1" style="padding-right: 0px;padding-left: 0px">
                <input style="padding: 6px 10px;text-align: center" id="number1" name="number" class="form-control" type="text" value="A" readonly>
            </div>
            <div class="col-sm-6" style="padding-left: 0px">
                <input id="content1" name="content" class="form-control" type="text" value="正确" readonly>
            </div>
        </div>


        <div class="form-group" >
            <label class="col-sm-3 control-label"></label>
            <div class="col-sm-1" style="padding-right: 0px;">
                <input class="form-control" name="answer" value="B" type="radio" style="margin: 0 0 0;" >
            </div>
            <div class="col-sm-1" style="padding-right: 0px;padding-left: 0px">
                <input style="padding: 6px 10px;text-align: center" id="number2" name="number" class="form-control" type="text" value="B" readonly>
            </div>
            <div class="col-sm-6" style="padding-left: 0px">
                <input id="content2" name="content" class="form-control" type="text" value="错误" readonly>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">答案解析：</label>
            <div class="col-sm-8">
                <textarea id="remarks" name="remarks" class="form-control" type="text" th:value="${examQuestion.remarks}"></textarea>
            </div>
        </div>

    </form>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript">
    $(function () {
        if ($.validator) {
            $.validator.prototype.elements = function () {
                var validator = this,
                    rulesCache = {};
                return $([]).add(this.currentForm.elements)
                    .filter(":input")
                    .not(":submit, :reset, :image, [disabled]")
                    .not(this.settings.ignore)
                    .filter(function () {
                        var elementIdentification = this.id || this.name;
                        !elementIdentification && validator.settings.debug && window.console && console.error("%o has no id nor name assigned", this);
                        if (elementIdentification in rulesCache || !validator.objectLength($(this).rules()))
                            return false;
                        rulesCache[elementIdentification] = true;
                        return true;
                    });
            };

        }

        var questionItem = $("#item").val();
        var questionAnswer = $("#answer").val();
        questionItem =$.parseJSON(questionItem)

        for(var i in questionItem){
            var number = questionItem[i].number;
            if(number == "A"){
                $("#content1").val(questionItem[i].content);
                continue;
            }
            if(number == "B"){
                $("#content2").val(questionItem[i].content);
                continue;
            }
        }

        var radios = document.getElementsByName("answer");

        for ( var i = 0; i < radios.length; i++) {

            if (radios[i].value==questionAnswer) {
                radios[i].checked=true
            }
        }

    });

    var prefix = ctx + "exam/examQuestion"
    $("#form-examQuestion-add").validate({
        rules:{
            title:{
                required:true,
                maxlength: 200
            },
            answer:{
                required:true
            },
            content:{
                required:true,
                minlength: 1,
                maxlength: 200
            },
            remark:{
                maxlength: 250
            },
            message:{
                "title":{
                    maxlength: "标题最长200字"
                },
                "content":{
                    maxlength: "选项内容最长200字"
                },
                "remark":{
                    maxlength: "答案解析最长250字"
                }
            }
        }
    });

    function submitHandler() {

        if (!$.validate.form()) {
            return
        }

        var radios = document.getElementsByName("answer");
        var i = 0
        for ( ; i < radios.length; i++) {

            if (radios[i].checked == true) {
                break;
            }
        }
        if(i==radios.length){
            $.modal.alertError("请至少选择一个答案");
            return;
        }

        $.operate.save(prefix + "/update", $('#form-examQuestion-add').serialize());
    }

</script>
</body>
</html>
