package ${package}.service;

import ${package}.domain.${className};
import java.util.List;
import com.ruoyi.framework.web.base.AbstractBaseService;
/**
 * ${tableComment} 服务层
 * 
 * @author ${author}
 * @date ${datetime}
 */
public interface I${className}Service extends AbstractBaseService<${className}>
{
	/**
     * 查询${tableComment}分页列表
     *
     * @param ${classname} ${tableComment}信息
     * @return ${tableComment}集合
     */
	public List<${className}> select${className}Page(${className} ${classname});
    /**
     * 查询${tableComment}列表
     *
     * @param ${classname} ${tableComment}信息
     * @return ${tableComment}集合
     */
    public List<${className}> select${className}List(${className} ${classname});

	
}
