<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<link th:href="@{/ruoyi/css/ry-ui.css}" rel="stylesheet"/>
<link th:href="@{/ajax/libs/datapicker/bootstrap-datetimepicker.css}" rel="stylesheet"/>
<link th:href="@{/ajax/libs/layui/css/layui.css}" rel="stylesheet"/>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-banner-add">
			<div class="form-group">	
				<label class="col-sm-3 control-label">名称：</label>
				<div class="col-sm-8">
					<input id="name" name="name" class="form-control" type="text">
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-3 control-label">跳转类型：</label>
				<div class="col-sm-8">
					<div class="radio-box">
						<input type="radio" id="openType1" name="openType" value="1" th:checked= "true">
						<label for="openType1">小程序页面</label>
					</div>
					<div class="radio-box">
						<input type="radio" id="openType2" name="openType" value="2">
						<label for="openType2">小程序tab页</label>
					</div>
					<div class="radio-box">
						<input type="radio" id="openType3" name="openType" value="3">
						<label for="openType3">h5页面</label>
					</div>
				</div>
			</div>

			<div class="form-group">	
				<label class="col-sm-3 control-label">跳转路径：</label>
				<div class="col-sm-8">
					<input id="link" name="link" class="form-control" type="text">
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-3 control-label">banner图片：</label>
				<div class="col-sm-8">
					<input id="imageUrl" name="imageUrl" class="form-control" type="hidden">
					<div class="layui-upload">
						<button type="button" class="layui-btn layui-btn-normal" id="test1">上传图片</button>
						<span style="margin-left: 12px;">图片尺寸：702px*300px</span>
						<div class="layui-upload-list">
							<img class="layui-upload-img" style="width: 200px;height: auto;max-height: 150px;" id="demo1" name="demo1">
							<p id="demoText"></p>
						</div>
					</div>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">开始时间：</label>
				<div class="col-sm-8">
					<div class="input-group date"> <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
						<input type="text"  id="startTime" name="startTime" class="form-control" onfocus="this.blur()">
					</div>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">结束时间：</label>
				<div class="col-sm-8">
					<div class="input-group date"> <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
						<input type="text"  id="endTime" name="endTime" class="form-control" onfocus="this.blur()">
					</div>
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-3 control-label">是否展示：</label>
				<div class="col-sm-8">
					<div class="radio-box">
						<input type="radio" id="enabled1" name="enabled" value="1" th:checked= "true">
						<label for="enabled1">展示</label>
					</div>
					<div class="radio-box">
						<input type="radio" id="enabled2" name="enabled" value="0">
						<label for="enabled2">隐藏</label>
					</div>
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-3 control-label">显示排序：</label>
				<div class="col-sm-8">
					<input id="sort" name="sort" class="form-control" type="number">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">备注：</label>
				<div class="col-sm-8">
					<input id="remarks" name="remarks" class="form-control" type="text">
				</div>
			</div>
		</form>
	</div>
    <div th:include="include::footer"></div>
	<script th:src="@{/js/jquery-ui-1.10.4.min.js}"></script>
	<script th:src="@{/ajax/libs/iCheck/icheck.min.js}"></script>
	<script th:src="@{/ajax/libs//datapicker/bootstrap-datetimepicker.js}"></script>
	<script th:src="@{/ajax/libs/beautifyhtml/beautifyhtml.js}"></script>
	<script th:src="@{/ajax/libs/layui/layui.js}"></script>
    <script type="text/javascript">
		var prefix = ctx + "train/course/banner"
		$("#form-banner-add").validate({
			rules:{
				name:{
					required: true,
					maxlength: 50,
					remote: {
						url: ctx + "train/course/banner/checkBannerNameUnique",
						type: "post",
						dataType: "json",
						data: {
							name : function() {
								return $.common.trim($("#name").val());
							}
						},
						dataFilter: function(data, type) {
							return $.validate.unique(data);
						}
					}
				},
				sort:{
					required:true,
					digits:true,
					min:1,
					max:99999
				},
				openType:{
					required: true,
				},
				imageUrl:{
					required: true,
				},
				startTime:{
					required: true,
				},
				endTime:{
					required: true,
				},
				enabled:{
					required: true,
				},
				remarks:{
					maxlength: 250
				},
				messages: {
					"name": {
						remote: "名称已经存在"
					}
				}
			}
		});

		// 日期比较校验
		$.validator.addMethod("compareDate",function(value,element){
			var assigntime = $("#startTime").val();
			var deadlinetime = $("#endTime").val();
			if (assigntime == ""){
				layer.msg("结束日期必须大于开始日期");
				return false;
			}
			if (deadlinetime == ""){
				layer.msg("结束日期必须大于开始日期",{icon: 2});
				return false;
			}
			var reg = new RegExp('-','g');
			assigntime = assigntime.replace(reg,'/');//正则替换
			deadlinetime = deadlinetime.replace(reg,'/');
			assigntime = new Date(parseInt(Date.parse(assigntime),10));
			deadlinetime = new Date(parseInt(Date.parse(deadlinetime),10));
			if(assigntime>deadlinetime){
				layer.msg("结束日期必须大于开始日期");
				return false;
			}else{
				return true;
			}
		},"<font color='#E47068'>结束日期必须大于开始日期</font>");

		$(".input-group.date").datetimepicker({
			minView: 1,//设置只显示到月份
			format: 'yyyy-mm-dd hh:00:00',
			language:"zh-Cn",
			todayBtn: "linked",
			keyboardNavigation: !1,
			forceParse: !1,
			calendarWeeks: !0,
			autoclose: !0
		});

		function submitHandler() {
	        if ($.validate.form()) {
					var imgSrc = document.getElementById("demo1").getAttribute("src");
					if (!imgSrc){
						layer.msg("请上传banner图片",{icon: 2});
						return;
					}
	            $.operate.save(prefix + "/add", $('#form-banner-add').serialize());
	        }
	    };

		layui.use('upload', function() {
			var $ = layui.jquery
					, upload = layui.upload;
			//普通图片上传
			var uploadInst = upload.render({
				elem: '#test1'
				,url: '/upload/oss'
				,data:{module:"train/course"}//文件存放路径
				,before: function(obj){
					//预读本地文件示例，不支持ie8
					obj.preview(function(index, file, result){
						$('#demo1').attr('src', result); //图片链接（base64）
					});
				}
				,done: function(res){
					//如果上传失败
					if(res.code !=200){
						return layer.msg('上传失败');
					}
					//上传成功
					if(res.code ==200){
						$("#imageUrl").val(res.data)
						return layer.msg('上传成功');
					}
				}
				,error: function(){
					//演示失败状态，并实现重传
					var demoText = $('#demoText');
					demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
					demoText.find('.demo-reload').on('click', function(){
						uploadInst.upload();
					});
				}
			});
		})
	</script>
</body>
</html>
