<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.exam.mapper.ExamExaminationMapper">
    
    <resultMap type="ExamExaminationVO" id="ExamExaminationResult">
        <result property="id"    column="id"    />
        <result property="deptId"    column="dept_id"    />
        <result property="examPaperId"    column="exam_paper_id"    />
        <result property="trainCourseId"    column="train_course_id"    />
        <result property="trainCourseName"    column="traincourse_name"    />
        <result property="name"    column="name"    />
        <result property="type"    column="type"    />
        <result property="enableControlTime"    column="enable_control_time"    />
        <result property="startTime"    column="start_time"    />
        <result property="endTime"    column="end_time"    />
        <result property="timeLength"    column="time_length"    />
        <result property="examNumber"    column="exam_number"    />
        <result property="passMark"    column="pass_mark"    />
        <result property="questionDisorder"    column="question_disorder"    />
        <result property="finishedPaper"    column="finished_paper"    />
        <result property="examEnd"    column="exam_end"    />
        <result property="examinationUserLimit"    column="examination_user_limit"    />
        <result property="createBy"    column="create_by"    />
        <result property="createDate"    column="create_date"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateDate"    column="update_date"    />
        <result property="remarks"    column="remarks"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="examExaminationUserVipUserId"    column="examExaminationUserVipUserId"    />

    </resultMap>
	
	<sql id="selectExamExaminationVo">
         exam_examination.id,
         exam_examination.dept_id,
         exam_examination.exam_paper_id,
         exam_examination.train_course_id,
         exam_examination.name,
         exam_examination.type,
         exam_examination.enable_control_time,
         exam_examination.start_time,
         exam_examination.end_time,
         exam_examination.time_length,
         exam_examination.exam_number,
         exam_examination.pass_mark,
         exam_examination.question_disorder,
         exam_examination.finished_paper,
         exam_examination.exam_end,
         exam_examination.examination_user_limit,
         exam_examination.create_by,
         exam_examination.create_date,
         exam_examination.update_by,
         exam_examination.update_date,
         exam_examination.remarks,
         exam_examination.del_flag    </sql>

    <select id="selectExamExaminationList" parameterType="ExamExamination" resultMap="ExamExaminationResult">
        select
        <include refid="selectExamExaminationVo"/>
        from exam_examination
        <where>
            <if test="id != null "> and exam_examination.id = #{id}</if>
            <if test="deptId != null "> and exam_examination.dept_id = #{deptId}</if>
            <if test="examPaperId != null "> and exam_examination.exam_paper_id = #{examPaperId}</if>
            <if test="trainCourseId != null "> and exam_examination.train_course_id = #{trainCourseId}</if>
            <if test="name != null  and name != '' "> and exam_examination.name like concat('%', #{name}, '%')</if>
            <if test="type != null  and type != '' "> and exam_examination.type = #{type}</if>
            <if test="enableControlTime != null  and enableControlTime != '' "> and exam_examination.enable_control_time = #{enableControlTime}</if>
            <if test="startTime != null "> and exam_examination.start_time = #{startTime}</if>
            <if test="endTime != null "> and exam_examination.end_time = #{endTime}</if>
            <if test="timeLength != null "> and exam_examination.time_length = #{timeLength}</if>
            <if test="examNumber != null "> and exam_examination.exam_number = #{examNumber}</if>
            <if test="passMark != null "> and exam_examination.pass_mark = #{passMark}</if>
            <if test="questionDisorder != null  and questionDisorder != '' "> and exam_examination.question_disorder = #{questionDisorder}</if>
            <if test="finishedPaper != null  and finishedPaper != '' "> and exam_examination.finished_paper = #{finishedPaper}</if>
            <if test="examEnd != null  and examEnd != '' "> and exam_examination.exam_end = #{examEnd}</if>
            <if test="examinationUserLimit != null  and examinationUserLimit != '' "> and exam_examination.examination_user_limit = #{examinationUserLimit}</if>
            <if test="createBy != null  and createBy != '' "> and exam_examination.create_by = #{createBy}</if>
            <if test="createDate != null "> and exam_examination.create_date = #{createDate}</if>
            <if test="updateBy != null  and updateBy != '' "> and exam_examination.update_by = #{updateBy}</if>
            <if test="updateDate != null "> and exam_examination.update_date = #{updateDate}</if>
            <if test="remarks != null  and remarks != '' "> and exam_examination.remarks = #{remarks}</if>
            <if test="delFlag != null  and delFlag != '' "> and exam_examination.del_flag = #{delFlag}</if>
         </where>
        order by exam_examination.update_date desc
    </select>


    <select id="selectListFromWeb" resultMap="ExamExaminationResult">
        select
        DISTINCT <include refid="selectExamExaminationVo"/>
        ,tc.name as traincourse_name
        ,eeu.vip_user_id examExaminationUserVipUserId
        ,eeu.create_date examExaminationCreateDate
        from exam_examination exam_examination
        INNER JOIN train_course tc ON exam_examination.train_course_id = tc.id
        LEFT JOIN exam_examination_user eeu ON eeu.exam_examination_id = exam_examination.id
        LEFT join train_course_user tcu on tcu.train_course_id=exam_examination.train_course_id
        <where>
            <![CDATA[((eeu.vip_user_id = #{userId} and exam_examination.type = '2')
            or exam_examination.type = '1')]]>
            and
            <![CDATA[((enable_control_time = '1' and end_time > NOW() and start_time < NOW())
            or enable_control_time = '0')]]>
            <if test="id != null "> and exam_examination.id = #{id}</if>
            <if test="deptId != null "> and exam_examination.dept_id = #{deptId}</if>
            <if test="examPaperId != null "> and exam_examination.exam_paper_id = #{examPaperId}</if>
            <if test="name != null  and name != '' "> and exam_examination.name like concat('%', #{name}, '%')</if>
            <if test="type != null  and type != '' "> and exam_examination.type = #{type}</if>
            <if test="enableControlTime != null  and enableControlTime != '' "> and exam_examination.enable_control_time = #{enableControlTime}</if>
            <if test="startTime != null "> and exam_examination.start_time = #{startTime}</if>
            <if test="endTime != null "> and exam_examination.end_time = #{endTime}</if>
            <if test="timeLength != null "> and exam_examination.time_length = #{timeLength}</if>
            <if test="examNumber != null "> and exam_examination.exam_number = #{examNumber}</if>
            <if test="passMark != null "> and exam_examination.pass_mark = #{passMark}</if>
            <if test="questionDisorder != null  and questionDisorder != '' "> and exam_examination.question_disorder = #{questionDisorder}</if>
            <if test="finishedPaper != null  and finishedPaper != '' "> and exam_examination.finished_paper = #{finishedPaper}</if>
            <if test="examEnd != null  and examEnd != '' "> and exam_examination.exam_end = #{examEnd}</if>
            <if test="examinationUserLimit != null  and examinationUserLimit != '' "> and exam_examination.examination_user_limit = #{examinationUserLimit}</if>
            <if test="createBy != null  and createBy != '' "> and exam_examination.create_by = #{createBy}</if>
            <if test="createDate != null "> and exam_examination.create_date = #{createDate}</if>
            <if test="updateBy != null  and updateBy != '' "> and exam_examination.update_by = #{updateBy}</if>
            <if test="updateDate != null "> and exam_examination.update_date = #{updateDate}</if>
            <if test="remarks != null  and remarks != '' "> and exam_examination.remarks = #{remarks}</if>
            <if test="delFlag != null  and delFlag != '' "> and exam_examination.del_flag = #{delFlag}</if>
        </where>
            ORDER BY eeu.create_date desc,exam_examination.create_date desc
    </select>


    <select id="selectSignUpListFromWeb" resultMap="ExamExaminationResult">
        select
        <include refid="selectExamExaminationVo"/>,tc.name as traincourse_name
        from exam_examination exam_examination
        INNER JOIN train_course tc ON exam_examination.train_course_id = tc.id
        left JOIN vip_user_orders vuo ON tc.id = vuo.train_course_id
        <where>
            IF
            (
            tc.price > 0,
            vuo.vip_user_id = #{userId} and
            vuo.del_flag =1 and
            exam_examination.type = '2' and
            exam_examination.id not in (select exam_examination_id from exam_examination_user where vip_user_id = #{userId})
            and
            <![CDATA[((enable_control_time = '1' and end_time > NOW() and start_time < NOW())
            or enable_control_time = '0')  ]]>,
            exam_examination.type = '2' and
            exam_examination.id not in (select exam_examination_id from exam_examination_user where vip_user_id = #{userId})
            and
            <![CDATA[((enable_control_time = '1' and end_time > NOW() and start_time < NOW())
            or enable_control_time = '0')  ]]>
            )
            <if test="id != null "> and exam_examination.id = #{id}</if>
            <if test="deptId != null "> and exam_examination.dept_id = #{deptId}</if>
            <if test="examPaperId != null "> and exam_examination.exam_paper_id = #{examPaperId}</if>
            <if test="name != null  and name != '' "> and exam_examination.name like concat('%', #{name}, '%')</if>
            <if test="type != null  and type != '' "> and exam_examination.type = #{type}</if>
            <if test="enableControlTime != null  and enableControlTime != '' "> and exam_examination.enable_control_time = #{enableControlTime}</if>
            <if test="startTime != null "> and exam_examination.start_time = #{startTime}</if>
            <if test="endTime != null "> and exam_examination.end_time = #{endTime}</if>
            <if test="timeLength != null "> and exam_examination.time_length = #{timeLength}</if>
            <if test="examNumber != null "> and exam_examination.exam_number = #{examNumber}</if>
            <if test="passMark != null "> and exam_examination.pass_mark = #{passMark}</if>
            <if test="questionDisorder != null  and questionDisorder != '' "> and exam_examination.question_disorder = #{questionDisorder}</if>
            <if test="finishedPaper != null  and finishedPaper != '' "> and exam_examination.finished_paper = #{finishedPaper}</if>
            <if test="examEnd != null  and examEnd != '' "> and exam_examination.exam_end = #{examEnd}</if>
            <if test="examinationUserLimit != null  and examinationUserLimit != '' "> and exam_examination.examination_user_limit = #{examinationUserLimit}</if>
            <if test="createBy != null  and createBy != '' "> and exam_examination.create_by = #{createBy}</if>
            <if test="createDate != null "> and exam_examination.create_date = #{createDate}</if>
            <if test="updateBy != null  and updateBy != '' "> and exam_examination.update_by = #{updateBy}</if>
            <if test="updateDate != null "> and exam_examination.update_date = #{updateDate}</if>
            <if test="remarks != null  and remarks != '' "> and exam_examination.remarks = #{remarks}</if>
            <if test="delFlag != null  and delFlag != '' "> and exam_examination.del_flag = #{delFlag}</if>
        </where>
            ORDER BY exam_examination.create_date desc

    </select>

    <select id="selectExamExaminationById" resultType="com.ruoyi.exam.domain.ExamExaminationVO">
        select
        <include refid="selectExamExaminationVo"/>,
        tc.name AS trainCourseName,
        tcc.name AS trainCourseCategoryName,
        epc.name AS examPaperCategoryName
        from exam_examination exam_examination
        left join train_course tc on exam_examination.train_course_id = tc.id
        left join train_course_category tcc on tcc.id = tc.train_course_category_id
        left join exam_paper ep on exam_examination.exam_paper_id = ep.id
        left join exam_paper_category epc on ep.exam_paper_category_id = epc.id
        where exam_examination.id = #{id}
    </select>
    <select id="countExamQuestion" resultType="java.lang.Integer">
        SELECT
            COUNT( ee.id )
        FROM
            exam_examination ee
            LEFT JOIN exam_paper_question epq ON epq.exam_paper_id = ee.exam_paper_id
        WHERE
            ee.id = #{id}
    </select>

    <update id="update" parameterType="ExamExamination">
        update exam_examination
        <set>
            <if test="deptId != null "> dept_id = #{deptId},</if>
            <if test="examPaperId != null "> exam_paper_id = #{examPaperId},</if>
            <if test="trainCourseId != null "> train_course_id = #{trainCourseId},</if>
            <if test="name != null  and name != '' "> name = #{name},</if>
            <if test="type != null  and type != '' "> type = #{type},</if>
            <if test="enableControlTime != null  and enableControlTime != '' "> enable_control_time = #{enableControlTime},</if>
            start_time = #{startTime},
            end_time = #{endTime},
            <if test="timeLength != null "> time_length = #{timeLength},</if>
            <if test="examNumber != null "> exam_number = #{examNumber},</if>
            <if test="passMark != null "> pass_mark = #{passMark},</if>
            <if test="questionDisorder != null  and questionDisorder != '' "> question_disorder = #{questionDisorder},</if>
            <if test="finishedPaper != null  and finishedPaper != '' "> finished_paper = #{finishedPaper},</if>
            <if test="examEnd != null  and examEnd != '' "> exam_end = #{examEnd},</if>
            <if test="examinationUserLimit != null  and examinationUserLimit != '' "> examination_user_limit = #{examinationUserLimit},</if>
            <if test="updateBy != null  and updateBy != '' "> update_by = #{updateBy},</if>
            remarks = #{remarks},
            <if test="delFlag != null  and delFlag != '' "> del_flag = #{delFlag},</if>
            update_date = sysdate()
        </set>
        where id = #{id}
    </update>

    <select id="selectByNameAndType" resultMap="ExamExaminationResult">
        select
        <include refid="selectExamExaminationVo"/>
        from exam_examination where name = #{name} and type = #{type} and del_flag = '0'
    </select>
</mapper>