<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<link th:href="@{/ruoyi/css/ry-ui.css}" rel="stylesheet"/>
<link th:href="@{/ajax/libs/datapicker/bootstrap-datetimepicker.css}" rel="stylesheet"/>
<link th:href="@{/ajax/libs/layui/css/layui.css}" rel="stylesheet"/>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-examExamination-add">
			<!--<div class="form-group">	-->
				<!--<label class="col-sm-3 control-label">部门ID：</label>-->
				<!--<div class="col-sm-8">-->
					<!--<input id="deptId" name="deptId" class="form-control" type="text">-->
				<!--</div>-->
			<!--</div>-->

			<div class="form-group">	
				<label class="col-sm-3 control-label">考试名称：</label>
				<div class="col-sm-8">
					<input id="name" name="name" class="form-control" type="text">
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-3 control-label">考试试卷：</label>
				<div class="col-sm-3">
					<input id="treeName" name="treeName" value="试卷分类" onclick="selectExamPaperCategoryTree()" class="form-control" type="text" readonly="true">
				</div>
				<div class="col-sm-5">
					<select id="examPaperId" name="examPaperId" class="form-control m-b" >
						<option>---请选择---</option>
					</select>
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-3 control-label">课程选择：</label>
				<div class="col-sm-3">
					<input id="trainCateGoryName" name="trainCateGoryName" value="课程分类" onclick="selectTrainCategoryTree()" class="form-control" type="text" readonly="true">
				</div>
				<div class="col-sm-5">
					<select id="trainCourseId" name="trainCourseId" class="form-control m-b" >
						<option>---请选择---</option>
					</select>
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-3 control-label">考试类型</label>

				<div class="col-sm-8">
					<select id="type" name="type" class="form-control m-b" th:with="type=${@dict.getType('exam_ination_type')}">
						<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
					</select>
				</div>
			</div>

			<div class="form-group">	
				<label class="col-sm-3 control-label">是否控制考试日期：</label>

				<div class="col-sm-8">
					<select id="enableControlTime" name="enableControlTime" class="form-control m-b" th:with="type=${@dict.getType('exam_ination_enableControlTime')}">
						<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
					</select>
				</div>
			</div>
			<div class="form-group enableControlTime">
				<label class="col-sm-3 control-label enableControlTime">开始时间：</label>
				<div class="col-sm-8">
					<div class="input-group date enableControlTime"> <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
						<input type="text"  id="startTime" name="startTime" class="form-control" onfocus="this.blur()">
					</div>
				</div>
			</div>
			<div class="form-group enableControlTime">
				<label class="col-sm-3 control-label enableControlTime">结束时间：</label>
				<div class="col-sm-8">
					<div class="input-group date enableControlTime"> <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
						<input type="text"  id="endTime" name="endTime" class="form-control" onfocus="this.blur()">
					</div>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">考试时长（分钟）：</label>
				<div class="col-sm-8">
					<input id="timeLength" name="timeLength" class="form-control" type="number" min="0">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">及格分数：</label>
				<div class="col-sm-8">
					<input id="passMark" name="passMark" class="form-control" type="number" min="0" step="1">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">考试次数：</label>
				<div class="col-sm-8">
					<input id="examNumber" name="examNumber" class="form-control"  type="number" min="1">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">题目乱序：</label>
				<div class="col-sm-8">
					<select id="questionDisorder" name="questionDisorder" class="form-control m-b" th:with="type=${@dict.getType('exam_ination_questionDisorder')}">
						<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
					</select>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">交卷后：</label>
				<div class="col-sm-8">
					<select id="finishedPaper" name="finishedPaper" class="form-control m-b" th:with="type=${@dict.getType('exam_ination_finishedPaper')}">
						<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
					</select>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">考试结束后：</label>
				<div class="col-sm-8">
					<select id="examEnd" name="examEnd" class="form-control m-b" th:with="type=${@dict.getType('exam_ination_examEnd')}">
						<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
					</select>
				</div>
			</div>
			<!--<div class="form-group">	-->
				<!--<label class="col-sm-3 control-label">考试对象：</label>-->
				<!--<div class="col-sm-8">-->
					<!--<select id="examinationUserLimit" name="examinationUserLimit" class="form-control m-b" th:with="type=${@dict.getType('exam_ination_examinationUserLimit')}">-->
						<!--<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>-->
					<!--</select>-->
				<!--</div>-->
			<!--</div>-->
			<div class="form-group">	
				<label class="col-sm-3 control-label">考试说明：</label>
				<div class="col-sm-8">
					<textarea id="remarks" name="remarks"  placeholder="请输入考试说明" class="layui-textarea"></textarea>
				</div>
			</div>
		</form>
	</div>
    <div th:include="include::footer"></div>
	<script th:src="@{/js/jquery-ui-1.10.4.min.js}"></script>
	<script th:src="@{/ajax/libs/iCheck/icheck.min.js}"></script>
	<script th:src="@{/ajax/libs//datapicker/bootstrap-datetimepicker.js}"></script>
	<script th:src="@{/ajax/libs/beautifyhtml/beautifyhtml.js}"></script>
    <script type="text/javascript">

		// 日期比较校验
		$.validator.addMethod("compareDate",function(value,element){
			var assigntime = $("#startTime").val();
			var deadlinetime = $("#endTime").val();
			if (assigntime == ""){
                layer.msg("结束日期必须大于开始日期");
                return false;
			}
			if (deadlinetime == ""){
                layer.msg("结束日期必须大于开始日期",{icon: 2});
                return false;
			}
			var reg = new RegExp('-','g');
			assigntime = assigntime.replace(reg,'/');//正则替换
			deadlinetime = deadlinetime.replace(reg,'/');
			assigntime = new Date(parseInt(Date.parse(assigntime),10));
			deadlinetime = new Date(parseInt(Date.parse(deadlinetime),10));
			if(assigntime>deadlinetime){
				layer.msg("结束日期必须大于开始日期");
				return false;
			}else{
				return true;
			}
		},"<font color='#E47068'>结束日期必须大于开始日期</font>");

        $(".input-group.date").datetimepicker({
			minView: 1,//设置只显示到月份
			format: 'yyyy-mm-dd hh:00:00',
            language:"zh-Cn",
			todayBtn: "linked",
			keyboardNavigation: !1,
			forceParse: !1,
			calendarWeeks: !0,
			autoclose: !0
        });

        var prefix = ctx + "exam/examExamination"

        $(function () {
            var config = {
                url: ctx + "exam/examPaper"+ "/list",
                type: "post",
                dataType: "json",
                data: {examPaperCategoryId:1},
//                contentType:"application/json",
                success: function(result) {

                    $("#examPaperId").html("<option value=''>---请选择---</option>");
                    var rows =result.rows;
                    for(var i in rows){
                        $("#examPaperId").append("<option value='"+rows[i].id+"'>"+rows[i].name+"</option>");
                    }
                }
            };

            var config2 = {
                url: ctx + "train/trainCourse"+ "/list",
                type: "post",
                dataType: "json",
                data: {trainCourseCategoryId:100},
//                contentType:"application/json",
                success: function(result) {
                    $("#trainCourseId").html("<option value=''>---请选择---</option>");
                    var rows =result.rows;
                    for(var i in rows){
                        $("#trainCourseId").append("<option value='"+rows[i].id+"'>"+rows[i].name+"</option>");
                    }
                }
            };
            $.ajax(config)
            $.ajax(config2)


            if ($("#enableControlTime").val().toString() == "0") {
                $(".enableControlTime").hide()
            } else {
                $(".enableControlTime").show()
            }

            $("#enableControlTime").change(function () {
                if ($("#enableControlTime").val().toString() == "0") {
                    $(".enableControlTime").hide()
                } else {
                    $(".enableControlTime").show()
                }
            })

			// 若为模拟考试，考试次数为99999
			if ($("#type").val().toString() == "1") {
				document.getElementById("examNumber").setAttribute("value","99999")
				document.getElementById("examNumber").setAttribute("readonly","true")
			}else {
				document.getElementById("examNumber").removeAttribute("readonly")
			}

			$("#type").change(function () {
				if ($("#type").val().toString() == "1") {
					document.getElementById("examNumber").setAttribute("value","99999")
					document.getElementById("examNumber").setAttribute("readonly","true")
				}else {
					document.getElementById("examNumber").setAttribute("value","1")
					document.getElementById("examNumber").removeAttribute("readonly")
				}
			})
        })


		$("#form-examExamination-add").validate({
			rules:{
				name:{
					required:true,
					minlength: 1,
					maxlength: 30
				},
                examPaperId:{
                    required:true,
                },
                trainCourseId:{
                    required:true,
				},
				startTime:{
					required:true,
				},
				endTime:{
					required:true,
					compareDate:"startTime",
				},
                passMark:{
                    required:true,
					min: 0,
					digits:true,
					max: 999,
                },
                timeLength:{
                    required:true,
                    digits:true,
					min: 1,
					max: 999
				},
                examNumber:{
                    required:true,
                    digits:true,
					min: 1,
					max: 99999
				},
				messages:{
					"name":{
						required:  "名称最长30字"
					},
					"startTime":{
						required:  "开始时间不能为空"
					},
					"endTime":{
						required:  "结束时间不能为空",
						compareDate: "结束日期必须大于开始日期!"
					},
                    "passMark":{
                        digits: "只能为正整数"
                    }
				}
			}
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/add", $('#form-examExamination-add').serialize());
	        }
	    }

	    var id = 1;
        function selectExamPaperCategoryTree() {
            var options = {
                title: '试卷分类选择',
                width: "380",
                url: ctx + "exam/examPaperCategory" + "/selectExamPaperCategoryTree/"+id,
                callBack: doSubmit
            };
            $.modal.openOptions(options);
        }




        function doSubmit(index, layero){
            var body = layer.getChildFrame('body', index);
            id = body.find('#treeId').val()
            $("#treeName").val(body.find('#treeName').val());
            layer.close(index);

            var config = {
                url: ctx + "exam/examPaper"+ "/list",
                type: "post",
                dataType: "json",
                data: {examPaperCategoryId:id},
//                contentType:"application/json",
                success: function(result) {
                  $("#examPaperId").html("<option  value=''>---请选择---</option>");
                  var rows =result.rows;
                  for(var i in rows){
                      $("#examPaperId").append("<option value='"+rows[i].id+"'>"+rows[i].name+"</option>");
				  }
                }
            };
            $.ajax(config)
        }



        var trainCategoryId = 100;
        function selectTrainCategoryTree(){
            var options = {
                title: '课程分类选择',
                width: "380",
                url: ctx + "train/course/category" + "/selectCategoryTree/"+trainCategoryId,
                callBack: doSubmitForTrainCategory
            };
            $.modal.openOptions(options);
        }

        function doSubmitForTrainCategory(index, layero){
            var body = layer.getChildFrame('body', index);
            trainCategoryId = body.find('#treeId').val()
            $("#trainCateGoryName").val(body.find('#treeName').val());
            layer.close(index);

            var config = {
                url: ctx + "train/trainCourse"+ "/list",
                type: "post",
                dataType: "json",
                data: {trainCourseCategoryId:trainCategoryId},
//                contentType:"application/json",
                success: function(result) {
                    $("#trainCourseId").html("<option  value=''>---请选择---</option>");
                    var rows =result.rows;
                    for(var i in rows){
                        $("#trainCourseId").append("<option value='"+rows[i].id+"'>"+rows[i].name+"</option>");
                    }
                }
            };
            $.ajax(config)
        }


	</script>
</body>
</html>
