<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<style>
	.bootstrap-table .btn-xs{
		margin-bottom: 5px;
	}
</style>
<body class="gray-bg">
    
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
						<ul>

							<li>
								考试名称：<input type="text" name="name"/>
							</li>

							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
	        <div class="btn-group-sm hidden-xs" id="toolbar" role="group">
				<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="exam:examExamination:add">
					<i class="fa fa-plus"></i> 添加
				</a>
<!--				<a class="btn btn-primary btn-edit disabled" onclick="$.operate.edit()" shiro:hasPermission="exam:examExamination:edit">-->
<!--					<i class="fa fa-edit"></i> 修改-->
<!--				</a>-->
				<a class="btn btn-danger btn-del btn-del disabled" onclick="$.operate.removeAll()" shiro:hasPermission="exam:examExamination:remove">
					<i class="fa fa-remove"></i> 删除
				</a>

			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('exam:examExamination:edit')}]];
        var removeFlag = [[${@permission.hasPermi('exam:examExamination:remove')}]];
        var examinationUserLimit = [[${@dict.getType('exam_ination_examinationUserLimit')}]];
        var prefix = ctx + "exam/examExamination";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
				exportUrl: prefix + "/export",
                modalName: "考试",
				search: false,
		        showExport: true,
                columns: [{
		            checkbox: true
		        },
				{
					field : 'id', 
					title : '考试ID',
					visible: false
				},
//				{
//					field : 'examPaperId',
//					title : '试卷代码',
//					//sortable: true
//				},
				{
					field : 'name', 
					title : '考试名称',
				},
				{
					field : 'enableControlTime',
					title : '控制考试时间',
					formatter: function(value, item, index) {

				return $.table.selectDictLabel([[${@dict.getType('exam_ination_enableControlTime')}]], item.enableControlTime);
				}
				},
				{
					field : 'startTime', 
					title : '开始时间',
				},
				{
					field : 'endTime', 
					title : '结束时间',
				},
				{
					field : 'timeLength', 
					title : '考试时长（分钟）',
				},
				{
					field : 'examNumber',
					title : '考试次数',
					//sortable: true
				},
				{
					field : 'passMark', 
					title : '及格分数',
				},
				// {
				// 	field : 'questionDisorder',
				// 	title : '题目乱序',
				// 	formatter: function(value, item, index) {
				//
				// 		return $.table.selectDictLabel([[${@dict.getType('exam_ination_questionDisorder')}]], item.questionDisorder);
				// 	}
				// },
				// {
				// 	field : 'finishedPaper',
				// 	title : '交卷后',
				// 	formatter: function(value, item, index) {
				//
				// 		return $.table.selectDictLabel([[${@dict.getType('exam_ination_finishedPaper')}]], item.finishedPaper);
				// 	}
				// },
				// {
				// 	field : 'examEnd',
				// 	title : '考试结束后',
				// 	formatter: function(value, item, index) {
				//
				// 		return $.table.selectDictLabel([[${@dict.getType('exam_ination_examEnd')}]], item.examEnd);
				// 	}
				// },
                    {
                        field : 'type',
                        title : '考试类型',
                        formatter: function(value, item, index) {

                            return $.table.selectDictLabel([[${@dict.getType('exam_ination_type')}]], item.type);
                        }
                    },
//				{
//					field : 'examinationUserLimit',
//					title : '考试对象',
//                    formatter: function(value, item, index) {
//
//                        return $.table.selectDictLabel(examinationUserLimit, item.examinationUserLimit);
//                    }
//				},
				{
					field : 'createBy', 
					title : '创建者',
				},
				{
					field : 'createDate', 
					title : '创建时间',
					//sortable: true
				},
//				{
//					field : 'updateBy',
//					title : '更新者',
//					//sortable: true
//				},
//				{
//					field : 'updateDate',
//					title : '更新时间',
//					//sortable: true
//				},
//				{
//					field : 'remarks',
//					title : '考试说明',
//					//sortable: true
//				},
//				{
//					field : 'delFlag',
//					title : '删除标记',
//					//sortable: true
//				},
		        {
		            title: '操作',
		            // align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
						if(row.type=='2'){
							actions.push('<a class="btn btn-info btn-xs ' + editFlag + '" href="#" onclick="toExaminationResult(\'' + row.id + '\')"><i class="fa fa-search"></i>成绩查看</a> ');
						}
		            	actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
		            	actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
						return actions.join('');
		            }
		        }]
            };
            $.table.init(options);
        });

		function toExaminationResult(id) {
			var url = prefix + "/examinationResult/"+id;
			createMenuItem(url, "成绩查看");
		}
    </script>
</body>
</html>